In [47]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import*
from sklearn.linear_model import SGDClassifier
import seaborn as sns
from sklearn.pipeline import make_pipeline

In [48]:
#Import du dataset du titanic avec seaborn
titanic = sns.load_dataset('titanic')

In [49]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [50]:
#Creation du trainset et du testset
y = titanic.survived
x = titanic.drop('survived' , axis =1)

In [51]:
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer

In [52]:
transformer = make_column_transformer((StandardScaler(),['age','fare']))

In [53]:
transformer.get_feature_names

<bound method ColumnTransformer.get_feature_names of ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 ['age', 'fare'])])>

In [54]:
transformer.sparse_threshold

0.3

In [55]:
transformer.fit_transform(x)

array([[-0.53037664, -0.50244517],
       [ 0.57183099,  0.78684529],
       [-0.25482473, -0.48885426],
       ...,
       [        nan, -0.17626324],
       [-0.25482473, -0.04438104],
       [ 0.15850313, -0.49237783]])

In [56]:
#La meilleure maniere d'utiliser make_column_transformer est de separer les categorie en 2:numerique et categorique

numerical_features = ['pclass','age','fare']
categorical_features = ['sex','deck','alone']

In [57]:
#On cree alors 2 pipeline numerical et categorical
numerical_pipeline = make_pipeline(SimpleImputer(), StandardScaler()) 
categorical_pipeline = make_pipeline(SimpleImputer(strategy='most_frequent'),OneHotEncoder())

In [58]:
#Creons notre transformer que jappele preprocessor qui va rassembler nos pipeline
preprocessor = make_column_transformer((numerical_pipeline ,numerical_features),(categorical_pipeline,categorical_features))

In [59]:
#Creation de notre pipeline final
model = make_pipeline(preprocessor , SGDClassifier())

In [60]:
model.fit(x,y)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['pclass', 'age', 'fare']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['sex', 'deck', 'alone'])])),
                ('sgdclassifier', SGDClassifier())])

In [61]:
model.predict

In [62]:
model.get_params

<bound method Pipeline.get_params of Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['pclass', 'age', 'fare']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['sex', 'deck', 'alone'])])),
                ('sgdclassifier', SGDClassifier())])>

In [63]:
model.score

In [64]:
#Creation de pipeline paralelle avec la fonction make_union dans sklearn

In [65]:
from sklearn.compose import make_column_selector

In [66]:
nf= make_column_selector(dtype_include=np.number)
cf = make_column_selector(dtype_exclude = np.number)

In [67]:
#Creation de pipeline qui mettent en parallele plusieurs transformer

In [68]:
numerical_feature = x[['age','fare']]

In [69]:
#import la fonction make_union depuis le module sklearn
from sklearn.pipeline import make_union

In [70]:
pipeline=make_union(StandardScaler(),Binarizer())

# FEATURE SELECTION AVEC SKLEARN

In [71]:
from sklearn.feature_selection import RFE,RFECV

In [73]:
selector = RFECV(SGDClassifier(random_state=0), step = 1, min_features_to_select=2, cv=5)

In [82]:
x = x.drop('sex',axis=1)

In [83]:
x

,pclass,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,3,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,3,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,3,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,3,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,3,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [84]:
selector.fit(x,y)

ValueError: could not convert string to float: 'S'